<div class="post">
    <div class="post-content">
        <div class="post-author"><%- post.author %></div>
        <h3><a href="post/<%- post._id %>" class="post-titte"><%- post.title %></a></h3>
        <p><%- post.summary %></p>
        <div class="post-date"> <%- post.date %></div>
        <a href="" class="post-topic">
            <% if (post.categogy.toString()=='64577e7ddaf0e4da306e3f20' ) { %>
                <%= 'Câu chuyện phân tích yêu cầu' %>
                    <% } else if (post.categogy.toString()=='64577e7ddaf0e4da306e3f21' ) { %>
                        <%= 'Trải nghiệm của Nhà thiết kế' %>
                            <% } else if (post.categogy.toString()=='64577e7ddaf0e4da306e3f22' ) { %>
                                <%= 'Cái khổ của Coder' %>
                                    <% } else if (post.categogy.toString()=='64577f14326d09b6f73a024d' ) { %>
                                        <%= 'Nỗi lòng của Tester' %>
                                            <% } else if (post.categogy.toString()=='64577f14326d09b6f73a024e' ) { %>
                                                <%= 'Con đường của Quản lý dự án' %>
                                                    <%} else { %>
                                                        <%= 'Dân IT và cái kết' %>
                                                            <% } %>
        </a>
    </div>
    <img src="<%= post.image %>" alt="">
</div>