<main>
    <div class="container main">
        <h1>
            <%= data.title %>
        </h1>

        <div class="post-date">
            <%= data.date %>
        </div>
        <a href="" class="post-topic">
            <% if (data.categogy.toString()=='64577e7ddaf0e4da306e3f20' ) { %>
                <%= 'Câu chuyện phân tích yêu cầu' %>
                    <% } else if (data.categogy.toString()=='64577e7ddaf0e4da306e3f21' ) { %>
                        <%= 'Trải nghiệm của Nhà thiết kế' %>
                            <% } else if (data.categogy.toString()=='64577e7ddaf0e4da306e3f22' ) { %>
                                <%= 'Cái khổ của Coder' %>
                                    <% } else if (data.categogy.toString()=='64577f14326d09b6f73a024d' ) { %>
                                        <%= 'Nỗi lòng của Tester' %>
                                            <% } else if (data.categogy.toString()=='64577f14326d09b6f73a024e' ) { %>
                                                <%= 'Con đường của Quản lý dự án' %>
                                                    <%} else { %>
                                                        <%= 'Dân IT và cái kết' %>
                                                            <% } %>
        </a>

        <p><i>
                <%= data.summary %>
            </i></p>

        <img src="<%=data.image%>" alt="">

        <p>
            <%- data.detail.replaceAll('\n', '<br>' ) %>
        </p>


        <div class="post-author" style="text-align: right; font-style: italic;">
            <h4>
                <%= data.author %>
            </h4>
        </div>

    </div>
    <div class="container topic">
        <h1>Các chủ đề</h1>
        <a href="">Câu chuyên phân tích yêu cầu</a>
        <a href="">Trải niệm của Nhà thiết kế</a>
        <a href="">Cái khổ của Coder</a>
        <a href="">Nỗi lòng của Tester</a>
        <a href="">Con đường của Quản lý dự án</a>
        <a href="">Dân IT và cái kết</a>
</main>